/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

:root {
    --lightGreen : 126, 213, 111;
    --mediumGreen : #55c57a;
    --darkGreen : 40, 180, 131;
    --white : #fff;
    --gray : #777;
}

